{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<h1 class="text-3xl font-bold px-5 pt-2">Create an outlet</h1>

  <form method="post" enctype="multipart/form-data" class="px-5">
    {% csrf_token %}
    <div class="flex flex-col items-start my-3">
      <label for="{{ form.name.id_for_label }}" class="font-semibold">{{ form.name.label }}</label>
      {% render_field form.name class+="bg-[#1a1a1a] text-white text-sm border-white border-1 rounded-lg py-1 px-1 mt-1 sm:w-2/3" style+="max-width: 300px;" %}
    </div>



    <div id="templateButtons1" style="overflow-x: auto; white-space: nowrap;">
      {% for template in outlet_templates %}
          <button type="button" class="outline outline-1 outline-white text-white text-sm rounded-full m-1 py-1 px-3" onclick="fillSchedule('{{ template.content }}')">{{ template.name }}</button>
      {% endfor %}
    </div>



    <div class="flex flex-col items-start my-3">
      <label for="{{ form.path.id_for_label }}" class="font-semibold">{{ form.path.label }}</label>
      {% render_field form.path class+="bg-[#1a1a1a] text-white text-sm border-white border-1 rounded-lg py-1 px-1 mt-1 sm:w-2/3" style+="max-width: 300px;" %}
    </div>
    <div class="flex flex-col items-start my-3">
      <label for="{{ form.video.id_for_label }}" class="font-semibold">{{ form.video.label }}</label>
      {% render_field form.video class+="bg-[#1a1a1a] text-white text-sm border-white border-1 rounded-lg py-1 px-1 mt-1 sm:w-2/3" style+="max-width: 300px;" %}
    </div>
    <div class="flex flex-col items-start my-3">
      <label for="{{ form.thumbnail.id_for_label }}" class="font-semibold">{{ form.thumbnail.label }}</label>
      {% render_field form.thumbnail class+="bg-[#1a1a1a] text-white text-sm border-white border-1 rounded-lg py-1 px-1 mt-1 sm:w-2/3" style+="max-width: 300px;" %}
    </div>
    <div class="flex flex-col items-start my-3">
      <label for="{{ form.info.id_for_label }}" class="font-semibold">{{ form.info.label }}</label>
      {% render_field form.info class+="bg-[#1a1a1a] text-white text-sm border-white border-1 rounded-lg py-1 px-1 mt-1 sm:w-2/3" style+="max-width: 300px;" %}
    </div>

    <input type="submit" value="Create" class="text-xl mt-3 px-3 py-1 rounded-xl bg-violet-600">
  </form>


  <script>
    function fillSchedule(content) {
      let content_obj = JSON.parse(content);

      document.getElementById('id_path').value = content_obj.path;
      document.getElementById('id_video').value = content_obj.video;
      document.getElementById('id_thumbnail').value = content_obj.thumbnail;
      document.getElementById('id_info').value = content_obj.info;
    }
  </script>



{% endblock content %}
