{% extends "base.html" %}
{% load static %}
{% block content %}

<div class"h-screen w-full">

<div class="flex w-full justify-between px-5 pt-2">
  <div><h1 class="text-3xl font-bold">Outlets</h1></div>
  <div>

    <a href="{% url 'outlets-create' %}"><div class="rounded-md bg-violet-600 flex">

      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
      </svg>

    </div></a>


  </div>
</div>

<div class="container h-fit p-5">


{% if outlets|length == 0 %}
      <div class="flex flex-col h-screen w-full items-center justify-center">

        <p class="text-2xl p-4 pt-0 max-w-md text-center font-light">An outlet describes where and how to save downloaded videos.</p>

        <a href="{% url 'outlets-create' %}"><div class="rounded-xl mb-20 bg-violet-600 flex" >

          <p class="text-xl px-3 p-2">Create an outlet</p>

        </div></a>

      </div>


  {% else %}

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">

        {% for outlet in outlets %}
          <div class="bg-neutral-950 rounded-xl p-3">
            <h1 class="text-xl font-semibold truncate">{{ outlet.name }}</h1>
            <p class="truncate">{{ outlet.path }}</p>
            <div class="flex flex-row">
                <a class="mt-2 cursor-pointer delete-outlet-btn" data-outlet-id="{{ outlet.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="w-5 h-5 fill-violet-600">
                      <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
          </div>
        {% endfor %}

      </div>

  {% endif %}



</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteButtons = document.querySelectorAll('.delete-outlet-btn');

        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var outletId = button.getAttribute('data-outlet-id');

                // Dynamically construct the base URL using the current IP and port
                var apiUrl = 'http://' + window.location.host + '/api/outlet';

                fetch(apiUrl, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ 'outlet_id': outletId }),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    // Handle success, e.g., remove the deleted item from the DOM
                    button.parentElement.remove();
                    // Reload the page after the request is sent
                    window.location.reload();
                })
                .catch(error => console.error('Error:', error));
            });
        });
    });
</script>


{% endblock content %}
