{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


<h1 class="text-3xl font-bold px-5 pt-2">Create a flow</h1>



<form method="post" class="px-5">
    {% csrf_token %}
    <div class="flex flex-col items-start my-3">
    <label for="{{ form.name.id_for_label }}" class="font-semibold">Name:</label>
    {% render_field form.name class+="bg-[#1a1a1a] text-white text-sm border-white border-1 rounded-lg py-1 px-1 mt-1 sm:w-2/3" style+="max-width: 300px;" %}
    </div>
    <div class="flex flex-col items-start my-3">
    <label for="{{ form.url.id_for_label }}" class="font-semibold">URL:</label>
    {% render_field form.url class+="bg-[#1a1a1a] text-white text-sm border-white border-1 rounded-lg py-1 px-1 mt-1 sm:w-2/3" style+="max-width: 300px;" %}
    </div>
    <div class="flex flex-col items-start my-3">
    <label for="{{ form.type.id_for_label }}" class="font-semibold">Type:</label>
    {% render_field form.type class+="bg-[#1a1a1a] text-white text-sm border-white border-1 rounded-lg py-1 mt-1" style+="max-width: 300px;" %}
    </div>
    <div class="flex flex-col items-start my-3">
    <label for="{{ form.quality.id_for_label }}" class="font-semibold">Quality:</label>
    {% render_field form.quality class+="bg-[#1a1a1a] text-white text-sm border-white border-1 rounded-lg py-1 mt-1" style+="max-width: 300px;" %}
    </div>
    <div class="flex flex-col items-start my-3">
    <label for="{{ form.outlet.id_for_label }}" class="font-semibold">Outlet:</label>
    {% render_field form.outlet class+="bg-[#1a1a1a] text-white text-sm border-white border-1 rounded-lg py-1 mt-1" style+="max-width: 300px;" %}
    </div>




    <div class=" my-3">
    <label for="{{ form.codec.id_for_label }}" class="font-semibold">Codec:</label>

    <div id="templateButtons1" style="overflow-x: auto; white-space: nowrap;">
        {% for template in codec_templates %}
            <button type="button" class="outline outline-1 outline-white text-white text-sm rounded-full m-1 py-1 px-3" onclick="fillCodec('{{ template.content }}')">{{ template.name }}</button>
        {% endfor %}
    </div>

    {% render_field form.codec class+="bg-[#1a1a1a] text-white text-sm border-white border-1 rounded-lg py-1 px-1 mt-1 sm:w-2/3" style+="max-width: 300px;" %}
    </div>





    <div class="my-3">
    <label for="{{ form.schedule.id_for_label }}" class="font-semibold">Schedule:</label>

    <div id="templateButtons2" style="overflow-x: auto; white-space: nowrap;">
        {% for template in schedule_templates %}
            <button type="button" class="outline outline-1 outline-white text-white text-sm rounded-full m-1 py-1 px-3" onclick="fillSchedule('{{ template.content }}')">{{ template.name }}</button>
        {% endfor %}
    </div>

    {% render_field form.schedule class+="bg-[#1a1a1a] text-white text-sm border-white border-1 rounded-lg py-1 px-1 mt-1 sm:w-2/3" style+="max-width: 300px;" %}
    </div>
    <input type="submit" value="Create" class="text-xl mt-3 px-3 py-1 rounded-xl bg-violet-600">
</form>


<script>
    function fillSchedule(content) {
        document.getElementById('id_schedule').value = content;
    }
    function fillCodec(content) {
        document.getElementById('id_codec').value = content;
    }
</script>





{% endblock content %}
