{% extends "base.html" %}
{% load static %}
{% block content %}

<div class"h-screen w-full">

    <div class="flex w-full justify-between px-5 pt-2">
        <div>
            <h1 class="text-3xl font-bold">Flows</h1>
        </div>
        <div>

            <a href="{% url 'flows-create' %}">
                <div class="rounded-md bg-violet-600 flex">

                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-plus" viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z">
                        </path>
                    </svg>

                </div>
            </a>


        </div>
    </div>


    <div class="container h-fit p-5">

        {% if flows|length == 0 %}

        <div class="flex flex-col h-screen w-full items-center justify-center">

            <p class="text-2xl p-4 pt-0 max-w-md text-center font-light">A flow describes what videos to download and
                when.</p>

            <a href="{% url 'flows-create' %}">
                <div class="rounded-xl mb-20 bg-violet-600 flex">

                    <p class="text-xl px-3 p-2">Create a flow</p>

                </div>
            </a>

        </div>

        {% else %}


        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">


            {% for flow in flows %}
            <div class="bg-neutral-950 rounded-xl p-3">
                <h1 class="text-xl font-semibold truncate">{{ flow.name }}</h1>

                <a href="{{ flow.url }}" target="_blank" class="flex flex-row gap-2">

                    {% if flow.type == 'p' %}
                    <svg class="mt-1 fill-violet-400" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="violet-600" class="bi bi-collection-play-fill" viewBox="0 0 16 16">
                        <path
                            d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm6.258-6.437a.5.5 0 0 1 .507.013l4 2.5a.5.5 0 0 1 0 .848l-4 2.5A.5.5 0 0 1 6 12V7a.5.5 0 0 1 .258-.437z" />
                    </svg>

                    <p class="hover:underline text-violet-400 truncate">Playlist</p>
                    {% elif flow.type == 'c' %}
                    <svg class="mt-1 fill-violet-400" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>

                    <p class="hover:underline text-violet-400 truncate">Channel</p>
                    {% endif %}



                </a>

                <p class="">{{ flow.quality }}</p>

                <div class="flex flex-row">
                    <a class="mt-2 cursor-pointer delete-flow-btn" data-flow-id="{{ flow.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="w-5 h-5 fill-violet-600">
                          <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>

            </div>
            {% endfor %}






        </div>

        {% endif %}


    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteButtons = document.querySelectorAll('.delete-flow-btn');

        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var flowId = button.getAttribute('data-flow-id');
                var apiUrl = 'http://' + window.location.host + '/api/flow';

                fetch(apiUrl, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ 'flow_id': flowId }),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    // Handle success, e.g., remove the deleted item from the DOM
                    button.parentElement.remove();
                    // Reload the page after the request is sent
                    window.location.reload();
                })
                .catch(error => console.error('Error:', error));
            });
        });
    });
</script>




{% endblock content %}
