{% extends "base.html" %}
{% load static %}
{% block content %}

<div class"h-screen w-full">

    <div class="flex w-full justify-between px-5 pt-2">
        <div>
            <h1 class="text-3xl font-bold">Dashboard</h1>
        </div>
        <div>

            <a href="{% url 'dashboard' %}">
                <div class="rounded-md bg-violet-600 flex">

                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-plus" viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z">
                        </path>
                    </svg>

                </div>
            </a>


        </div>
    </div>

    <div class="container h-fit p-5">


        {% if response|length == 0 %}
        <div class="flex flex-col h-screen w-full items-center justify-center">

            <p class="text-2xl p-4 pt-0 max-w-md text-center font-light">Welcome to Backloader!</br>First you need to
                create an outlet; </br> Then create a flow or a drop.</p>

            <a href="{% url 'outlets-create' %}">
                <div class="rounded-xl bg-violet-600 flex">

                    <p class="text-xl px-3 p-2">Create an outlet</p>

                </div>
            </a>

        </div>


        {% else %}

        <p>
            {{ response }}
        </p>

        {% endif %}



    </div>
</div>

{% endblock content %}
