{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="flex items-center justify-center h-full">
    <div class="m-auto">

        <h1 class="text-5xl mb-20 font-semibold">Drop enqueued</h1>

        <svg class="w-2/3 h-2/3 md:w-1/3 md:h-1/3 m-auto" xmlns="http://www.w3.org/2000/svg" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
        </svg>

    </div>
</div>



{% endblock content %}
