{% extends "base.html" %}
{% load static %}
{% block content %}

<div class"h-screen w-full">

<div class="flex w-full justify-between px-5 pt-2">
  <div><h1 class="text-3xl font-bold">Drops</h1></div>
  <div>
    
    <a href="{% url 'drops-create' %}"><div class="rounded-md bg-violet-600 flex">

      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
      </svg>

    </div></a>


  </div>
</div>


<div class="container h-fit p-5">

{% if drops|length == 0 %}

    <div class="flex flex-col h-screen w-full items-center justify-center">

      <p class="text-2xl p-4 pt-0 max-w-md text-center font-light">Drops are like flows, but execute only once instead of on a schedule.</p>

      <a href="{% url 'drops-create' %}"><div class="rounded-xl mb-20 bg-violet-600 flex" >

        <p class="text-xl px-3 p-2">Create a drop</p>

      </div></a>

    </div>

{% else %}

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">

      {% for flow in flows %}
        <div class="bg-neutral-950 rounded-xl p-3">
          <h1 class="text-xl font-semibold truncate">{{ flow.name }}</h1>

          <a href="{{ flow.url }}" target="_blank" class="flex flex-row gap-2">

            {% if flow.type == 'p' %}
              <svg class="mt-1 fill-violet-400" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="violet-600" class="bi bi-collection-play-fill" viewBox="0 0 16 16">
                <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm6.258-6.437a.5.5 0 0 1 .507.013l4 2.5a.5.5 0 0 1 0 .848l-4 2.5A.5.5 0 0 1 6 12V7a.5.5 0 0 1 .258-.437z" />
              </svg>
            {% elif flow.type == 'c' %}
              <svg class="mt-1 fill-violet-400" xmlns="http://www.w3.org/2000/svg" width="16" height="16"  class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
            {% endif %}
            
            <p class="hover:underline text-violet-400 truncate">Playlist name</p>
          
          </a>

          <p class="">{{ flow.quality }}</p>

        </div>
      {% endfor %}

      

      
      
      
  </div>

{% endif %}


  </div>
</div>







{% endblock content %}